.cleandiv1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cleandiv2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-heading {
  padding: 0.775rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  
}
.cleaddiv {
  padding: 0 7rem 3rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagesection {
  width: 412px;
  height: 232px;
}
.cleanpara{
    font-family: "Regular",sans-serif!important;
    color:#0d6667  ;
    text-align: justify;
    padding: 0 1rem;
    font-size: 20px;
}
.heading_cleanmobility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
}
.borderdiv {
    border:4px  solid #0d6667;
   border-bottom: 0px;
   border-top: 0px;
}
.cleanmobility{
    background-color:#f0f0f0 ;
    color:#0d6667  ;
}
.clean-heading{
  font-family: "Bold",sans-serif;
  font-size: 48px;
}
.clean-sub-heading{
  font-family: "Bold",sans-serif;
  font-size: 35px;
  text-align: center;
}

/* for Laptop view*/
@media (min-width: 769px) and (max-width:1024px) {
  .heading_cleanmobility {
   
    padding: 3rem 0rem;
}
.clean-heading{
  font-family: "Bold",sans-serif;
  font-size:36px;
  text-align: center;
}
.clean-sub-heading{
 
  font-size: 28px;
 
}
.cleanpara{
  font-family: "Regular",sans-serif!important;
  color:#0d6667  ;
  text-align: justify;
  padding: 0 0.2rem;
  font-size: 14px;
}
.imagesection {
  width: auto;
  height:auto;
}
.borderdiv {
  border:3px  solid #0d6667;
 border-left: 0px;
 border-right: 0px;
}
}


/* responsive for tablet */
@media (min-width: 481px) and (max-width: 768px){
  .main-head {
   
    padding: 0 2rem;
    
  }
  .clean-heading{
    font-family: "Bold",sans-serif;
    font-size:32px;
    text-align: center;
  }
  .cleaddiv {
    padding: 0rem 4rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heading_cleanmobility {
   
    padding: 2rem 0rem;
}
.cleandiv1 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.borderdiv {
  border:4px  solid #0d6667;
 border-left: 0px;
 border-right: 0px;
}
.imagesection {
  width: auto;
  height:auto;
}
.sub-heading {
  padding: 0.735rem;
 
}
.clean-sub-heading{
 
  font-size: 25px;
 
}
.cleanpara{
  font-family: "Regular",sans-serif!important;
  color:#0d6667  ;
  text-align: justify;
  padding: 0 0.5rem;
  font-size: 16px;
}


}

/* responsive for Mobile*/
@media (min-width:320px) and (max-width:480px){
  .main-head {
   
    padding: 2rem 2.5rem;
    
  }
  .clean-heading{
    font-family: "Bold",sans-serif;
    font-size:30px;
    text-align: center;
  }
  .heading_cleanmobility {
   
    padding: 0.9rem 2rem;
}
.clean-sub-heading{
 
  font-size: 22px;
 
}
.cleaddiv {
  padding: 0rem 2.5rem !important;
  
}
.imagesection {
  width:auto;
  height:auto;
}
.cleandiv1 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.borderdiv {
  border:4px  solid #0d6667;
 border-left: 0px;
 border-right: 0px;
}
.cleanpara{
  
  font-size: 15px;
}


}