
.actioncontent{
    padding: 3.5rem 7rem!important;
}
.action-call{
    color: #0d6667 !important;
}

.action-call{
    background-color: #afdcdf;
}
.buttonbt{
    width:35rem;
    padding: 1.275rem 2.275rem;
    background-color: #f0f0f0;
    color:#0d6667  ;
}
.buttonbt:focus{
    outline: none;
   
}
.actiondiv{
    Display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn:hover{
    transform:scale(1.2);
    box-shadow: 1px 2px black;
    color:#0d6667  ;
}
.actionhead{
    color:#0d6667 ;
    font-family: "Bold",sans-serif!important;
    margin-bottom: 0!important;
    font-size:2rem;
}
/* responsive for tablet */
@media (min-width: 481px) and (max-width: 767px){
    .actioncontent{
        padding: 2rem 4rem!important;
    }
    .actionhead{
        
        font-size:1.5rem;
    }
    .buttonbt{
        width:25rem;
        padding: 1.275rem 2.275rem;
        background-color: #f0f0f0;
        color:#0d6667  ;
    }
    .btn--2{
        margin-top: 1.5rem;
    }
}