.svg-inline--fa.fa-leaf{
    /* width: 4rem; */
    height: 4rem;
   
}
.impact{
    background-color: #f0f0f0;
     color: #13989b;

    
}
.impact-effect{
    font-family: "Bold",sans-serif;
    color:#0d6667 ;
    font-size: 20px;
}
.heading_impact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 7rem;
}
.imp-sub-head{
    font-size: 28px;
    font-weight: 800;
    color: #0d6667;
}
/* responsive for tablet */
@media (min-width: 481px) and (max-width: 768px){
    .svg-inline--fa.fa-leaf{
        /* width: 4rem; */
        height: 2rem;
       
    }
    .imp-sub-head{
        font-size:18px;
       
        color: #0d6667;
      text-align: center;
       
    }
    .heading_impact {
        
        padding: 3rem 0rem;
    }
    .content{
        padding: 0;
    }
    .impact-effect{
     
        font-size:17px;
    }
    
}
/* responsive for Mobile*/
@media (min-width:320px) and (max-width:480px){
    .imp-sub-head{
        font-size:15px;
       
        color: #0d6667;
      text-align: center;
       
    }
    .heading_impact {
        
        padding: 2rem 0rem 0;
    }
    .svg-inline--fa.fa-leaf{
        /* width: 4rem; */
        height: 2rem;
       
    }
    .impact-effect{
       
        font-size:18px;
    }
}