.svg-inline--fa.fa-leaf{
    /* width: 4rem; */
    height: 4rem;
   
}
.impact{
    background-color: #f0f0f0;
     color: #13989b;

    
}
.imp-sub-head{
    font-size: 28px;
    font-weight: 800;
    color: #0d6667;
}