.card1{
    margin: 0 1rem 1rem!important;
}
.card-body{
   background-color:#f0f0f0 ; 
}
.card2{
    margin: 0 1rem 1rem!important;
}
.card3{
    margin: 1rem 1rem 0!important;
}
.card4{
    
    margin: 1rem 1rem 0!important;
}
.innovation-section{
    background-color: #afdcdf;
    color: #094d4e;
}
.innoheading{
    font-family: "Bold",sans-serif;
    color:#094d4e ;
    font-size: 48px;
}
.innosubhead1{
    font-family: "Bold",sans-serif;
     color:#094d4e ; 
     font-size:1.5rem;
}
.innosubhead2{
    font-family: "Regular",sans-serif;
    color:#094d4e ; 
    font-size:1.4rem;
}
.unorder-list{
    font-family: "Regular",sans-serif;
    color:#094d4e ; 
    font-size:1.4rem;
}
/* for Laptop view*/
@media (min-width: 769px) and (max-width:1024px){
    .innoheading{
        
        font-size:38px;
    } 
    .innosubhead1{
        
        font-size:1.2rem;
   }
   .innosubhead2{
      
       font-size:1rem;
   }
   .unorder-list{
    font-family: "Regular",sans-serif;
    color:#094d4e ; 
    font-size:1.04rem;
}

}
/* responsive for tablet */
@media (min-width: 481px) and (max-width: 768px){
    .innoheading{
        
        font-size:27px;
    }
    .innosubhead1{
        
         font-size:1.04rem;
    }
    .innosubhead2{
       
        font-size:1rem;
    }
    .content{
        padding: 0 4rem 3rem;
    }
    .unorder-list{
        font-family: "Regular",sans-serif;
        color:#094d4e ; 
        font-size:1rem;
    }
}

/* responsive for Mobile*/
@media (min-width:320px) and (max-width:480px){
    .innoheading{
        
        font-size:22px;
    }
    .innosubhead1{
        
         font-size:1rem;
    }
    .innosubhead2{
       
        font-size:1rem;
    }
    .content{
       padding: 0 2rem 1rem;
    }
    .unorder-list{
        font-family: "Regular",sans-serif;
        color:#094d4e ; 
        font-size:0.9rem;
    }
}
