.solution {
  background-color: #afdcdf !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row > * {
  padding-left: 0;
  padding-right: 0;
}
.heading1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0.5rem;
  color: #094d4e;
}
.tag {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem 0;
  font-size: 17px;
}
.tag a {
  text-decoration: none;
}
.solusub {
  color:#094d4e;
  font-family: "Bold", sans-serif !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.heading-solution{
  font-family: "Bold",sans-serif;
}
/* responsive for Mobile*/
@media (min-width:320px) and (max-width:480px){
  .heading-solution{
    font-family: "Bold",sans-serif;
  }
  .heading1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    color: #094d4e;
    text-align: center;
    
  }
  .tag {
  
    font-size: 20px;
  }
}