.solution{
    background-color: #afdcdf!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row>*{
    padding-left: 0;
    padding-right: 0;
}
.heading1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0.5rem;
    color: #094d4e;
}
.tag{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem 0;
    font-size: 17px;
}
.tag a{
    text-decoration: none;
   

}