.success_story {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0 7rem 3rem !important;
}
.text-section {
  color: #0d6667;
}

.accordion-color {
  background-color: #f0f0f0;
  color: #094d4e;
}
.accordion-color:focus{
    background-color: #f0f0f0;
    outline: none!important;
}

.accordion-button {
  color: #0d6667;
  background-color: 0;
}
.container1 {
  margin-bottom: 2rem;
  border-bottom: 2px solid #13989b;
}
.accordion-button::after {
  margin-left: 0;
}
.text {
  background-color: #f0f0f0;
}
.accordion-button:focus {

  box-shadow: 0;

}
.container2 {
  margin-bottom: 2rem;
  border-bottom: 2px solid #13989b;
}
.sucdiv{
  padding-left: 12px;
  padding-right: 12px;
}
.heading{
  font-family:"Bold",sans-serif!important;
  font-size: 48px;
}
.subh2{
  color: #0d6667;
  font-family: "Bold",sans-serif!important;
  font-size:40px;
}
.subh5{
  color: #0d6667;
  font-family: "Bold",sans-serif!important;
}
.succtext{
  font-size:25px;
}

#buttonaccordion{
  width:12%!important;
  font-size:1.5rem;
}
#buttonaccordion:focus{
  border-color:#f0f0f0;
}
.accordionh5{
  font-family: "Bold",sans-serif;
  font-size: 25px;
}
.accordion-para{
  font-family: "Regular",sans-serif;
  font-size: 22px;
}
.accordion-padding{
  padding-right: 12px;
  padding-left: 12px;
}
@media (min-width: 481px) and (max-width: 767px){
  .sucdiv{
    padding-left: 8px;
    padding-right: 8px;
  }
  .succtext{
    font-size:20px;
  }
  #buttonaccordion{
    width:30%!important;
    font-size:18px;
  }
  .heading{
   
    font-size: 28px;
  }
  .accordionh5{
  
    font-size: 15px;
  }
  .accordion-para{
   
    font-size:18px;
  }
  .subh2{
  
    font-size:25px;
  }
}