.heading_sustability{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 7rem;

}
.sustability_container{
    padding: 0 7rem 3rem;
   margin-top: 8px;

}
.mt{
  margin:16px 0px;
}
.sustability{
    background-color: #f0f0f0;
}
.sushead{
    font-family: "Medium",sans-serif!important;
    color:#0d6667 ;
    margin-bottom: 0!important;
    text-align: center;
}
.susheading{
   font-family:"Bold",sans-serif;
   color: #0d6667;
   font-size: 48px;
}
/* responsive for tablet */
@media (min-width: 481px) and (max-width: 768px){
    .heading_sustability{
       
        padding: 3rem 4rem;
    
    } 
    .sustability_container{
        padding: 0 4rem 3rem;
       margin-top: 6px;
    
    }
    .mt{
        margin:12px 0px;
      }
      .susheading{
      
        font-size: 32px;
     }
     
}

/* responsive for Mobile*/
@media (min-width:320px) and (max-width:480px){
   
    .sustability_container{
        padding:0 2.5rem 1.755rem;
       margin-top: 6px;
    
    }
    .heading_sustability{
       
        padding: 2rem 2rem;
    
    } 
    .susheading{
      
        font-size: 28px;
     }
     .sushead{
         font-size: 18px;
     }
     .imgset{
         width:7rem;
         height:7rem;
         margin-top: 12.8px;
         margin-left:12.8px ;
         margin-right: 12.8px;
     }
     .mt{
         margin:0px 0px;
     }
}