.footer{
    color: #fff;;
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-section{
  background-image: linear-gradient(to bottom right,#0d6667,#034c63);
  color: #fff;
}
.socialicon{
    color: blanchedalmond!important;
    height:1.5rem;
    width:1.5rem;
}
.svg-inline--fa{
  height:2rem !important;
  margin: 0 !important;
}
.links{
    display: flex;
    /* align-items:flex-start; */
    /* justify-content:start; */
    flex-direction: column;
    align-content: center;
}
.secfooter{
    padding: 2rem 1rem;
}
.ekak{
    width: 200px;
    height: auto;
}
.social-media {
    display: flex;
    flex-direction: column;
    
}
span{
    text-align: center;
    
}
.copy{
    font-size:  5px !important;;
}
.footer--{
    color: #fff;;
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content:left;
}