.footer{
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer:hover{
    color:teal;
}
.footer-section{
  background-image: linear-gradient(to bottom right,#0d6667,#034c63);
  color: #fff;
}
.socialicon{
    color: blanchedalmond!important;
    height:1.5rem;
    width:1.5rem;
}
.svg-inline--fa{
  height:2rem !important;
  margin: 0 !important;
}
.links{
    display: flex;
    /* align-items:flex-start; */
    /* justify-content:start; */
    flex-direction: column;
    align-content: center;
}
.secfooter{
    padding: 2rem 1rem;
}
.ekak{
    width: 200px;
    height: auto;
}
.social-media {
    display: flex;
    flex-direction: column;
    
}
span{
    text-align: center;
    
}
.copy{
    font-size:  5px !important;;
}
.footer--{
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content:left;
}
.footer--:hover{
    color:teal;
}
.foote_bottom_ul{
    list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul li { display:inline;}
#copyright{
    color:#ffffff;

    width:17px;
    padding-right: 5px
}
