.cardcontent{
    padding:3rem 7rem!important;
}
.txt{
    width: 60%;
   
}
.cardenergy{
    background-color: #afdcdf;
}
.row1{
    color:#0d6667 ;
}
.offer-paragraph{
    color:#0d6667;
     font-family: "Regular",sans-serif;
    text-align: justify;
    font-size:22px;
}
.row2{
    color:#0d6667 ;
    background-color: #f0f0f0;
}
.txt h2{
    font-family: "Bold",sans-serif;
    font-size:39px;
    text-align: center;
}
/* for Laptop view*/
@media (min-width: 769px) and (max-width:1024px){
    .cardcontent{
        padding:3rem 7rem!important;
    }
    .txt{
        width: 100%;
        padding: 3rem;
       
    }

    .row2{
        color:#0d6667 ;
        margin-top: 20px;
        display: flex;
        flex-direction:column-reverse;
        background-color: #f0f0f0;
    }
    .txt h2{
        
        font-size:28px;
       
    }
}


/* responsive for tablet */
@media (min-width: 481px) and (max-width: 768px){
    .cardcontent{
        padding:3rem 4rem!important;
    }
    .txt{
        width: 80%;
       
    }
    .row2{
        color:#0d6667 ;
        margin-top: 20px;
        display: flex;
        flex-direction:column-reverse;
        background-color: #f0f0f0;
    }
    .offer-paragraph{
        
        font-size:20px;
    }
    .txt h2{
        
        font-size:32px;
       
    }
    .txt{
        padding-top: 48px;
        padding-bottom: 48px;
    }
}
/* responsive for Mobile*/
@media (min-width:320px) and (max-width:480px){
    .cardcontent{
        padding:2rem 3rem!important;
    }
    .txt{
        width:70%;
       
    }
    .row2{
        color:#0d6667 ;
        margin-top: 15px;
        display: flex;
        flex-direction:column-reverse;
        background-color: #f0f0f0;
    }
    .txt h2{
        
        font-size:22px;
       
    }
    .offer-paragraph{
        
        font-size:15px;
    }
    .txt{
       padding-top: 12px;
        
    }
}