.text-box{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.rowelement{
    padding-left:2rem !important;

}
.offer-section{
    background-color: #f0f0f0;
}
.offer-box{
 color:#0d6667  ;
}
.pic1{
  width:624px;
 height: 416px;
}
.pic2{
    width:624px;
    height: 417px; 
}