.text-box{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.rowelement{
    padding-left:2rem !important;

}
.offer-section{
    background-color: #f0f0f0;
}
.offer-box{
 color:#0d6667  ;
 font-size: 24.4px;
}
.pic1{
  width:624px;
 height: 416px;
}
.pic2{
    width:624px;
    height: 417px; 
}
.offer-head{
    font-family: "Bold",sans-serif;
    font-size: 48px;
}
.offerh3{
    font-family: "Bold",sans-serif;
    font-size: 32px;
}
.cardcontent-offer{
    padding: 3rem 7rem;
}
/* responsive for tablet */
@media (min-width: 481px) and (max-width: 768px){
    .cardcontent-offer{
        padding: 0rem 4rem;
    }
    .offer-head{
        font-family: "Bold",sans-serif;
        font-size: 35px;
    }
    .offerh3{
       
        font-size: 23px;
    }
    .text-box{
        font-size:20px;
    }
}
/* responsive for Mobile*/
@media (min-width:320px) and (max-width:480px){
    .cardcontent-offer{
        padding: 0rem 2rem;
    }
    .offer-head{
        font-family: "Bold",sans-serif;
        font-size: 28px;
    }
    .offerh3{
       
        font-size:23px;
    }
    .text-box{
        font-size:18px;
    }
    .pic1{
        height:auto;
    }
    .pic2{
        height:auto;
    }
    .pic3{
        height:auto;
    }
    .pic4{
        height:auto;
    }
   
}