.ekasharimage {
  width:75rem;
  height: auto;
}
.ekakshar{
    /* margin-top: 4.5rem; */
    background-color: #000
}
.context{
    position: absolute;
    top: 15rem;
    left: 13rem;
    width: 68%;
    color: #ffffff;
}
.ekak-sub-heading{
    padding:16px;
    margin-bottom: 15px;
    color: #fff;
    text-shadow: 1px 1px 2px #0d6667;
    font-family: "Bold",sans-serif!important;
    font-size: 1.6rem;
    padding: 1.5rem;
}
.orderbutton{
    margin: 16px;
    padding: 8px;
    background-color: #0D6667;
    color: #ffffff;
    border-radius:0.5rem;
    font-family: "Bold",sans-serif;
}
.orderbutton:hover{
    transform: scale(1.08);
    border: 3px solid white;

   

}
.ekak-sub-heading1{
    color: #fff;
    text-shadow: 1px 2px 2px #0d6667;
    font-family: "Bold",sans-serif!important;
    font-size:4rem;
    padding: 1rem;
}
/* responsive for tablet */
@media (min-width: 481px) and (max-width: 768px){
    .ekasharimage {
        width:55rem;
        height: auto;
      }
      .context{
      
        top: 6rem;
        left: 4rem;
        width:80%;
        color: #ffffff;
    }
    .ekak-sub-heading1{
        
        font-size:2rem;
        padding:0rem;
    }

    .ekak-sub-heading{
        padding:4px;
       
        font-size: 1.2rem;
        margin-bottom: 8px;
    }
    .orderbutton{
        margin: 0;
        padding: 8px;
       
        font-size: 12px;
        font-family: "Bold",sans-serif;
    }
}
/* responsive for Mobile*/
@media (min-width:320px) and (max-width:480px){
    .ekasharimage {
        width:25rem;
        height: auto;
      }
      .context{
      
        top: 4.5rem;
        left: 2rem;
        width:85%;
        color: #ffffff;
    }
    .ekak-sub-heading1{
        font-size: 1.2rem;
       
        padding:0rem;
    }
    .ekak-sub-heading{
        padding:4px;
        font-size:1rem;
       
        margin-bottom: 8px;
    }
    .orderbutton{
        margin: 0;
        padding: 6px;
       
        font-size: 8px;
        font-family: "Bold",sans-serif;
    }
}
