.divbox{
    margin: 1rem 0 !important;
}
#image1{
    width: 14rem!important;
}
#image2{
    width: 14rem!important;
}
#image3{
    width: 14rem!important;
}
#image4{
    width: 14rem!important;
}
#image5{
    width: 14rem!important;
}
#image6{
    width: 14rem!important;
}
#image7{
    width: 14rem!important;
}
#image8{
    width: 14rem!important;
}