.suite-4{
    padding-left: 12px!important;
    padding-bottom:2rem!important;
}
.suite-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 2rem;
  
   
}
.suite-sub-heading{
  color:#0d6667;
  font-family: "Bold", sans-serif;
  font-size: 48px;
}
.suite-container{
    padding: 0 7rem 3rem!important;
}
.headsolar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.775rem;
    color:#0d6667 ;

}
.offer--head{
    font-family: "Bold",sans-serif;
    font-size: 32px;
}

.suite-offer{
    background-color: #f0f0f0;
}
/* responsive for tablet */
@media (min-width: 481px) and (max-width: 768px){
    .suite-container{
        padding: 0 4rem 2rem!important;
    }
    .suite-sub-heading{
      
        font-size:35px;
      }
      .offer--head{
      
        font-size:25px;
    }
    .suite-4{
        padding-bottom:2rem!important;
    }
    
}
/* responsive for Mobile*/
@media (min-width:320px) and (max-width:480px){
    .suite-container{
        padding: 0 2.2rem 1.5rem!important;
    }
    .suite-sub-heading{
      
        font-size:28px;
      }
      .suite-heading{
        
        padding:1.77rem 0rem;
      
       
    }
    .offer--head{
      
        font-size:23px;
    }
    .suite-4{
        padding-bottom: 0rem!important;
    }
}