
@font-face {
    font-family: "Light";   /*Can be any text*/
    src: local("gilroy-Light"),
      url("./Fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Regular";   /*Can be any text*/
    src: local("gilroy-Regular"),
      url("./Fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Heavy";   /*Can be any text*/
    src: local("gilroy-Heavy"),
      url("./Fonts/gilroy/Gilroy-Heavy.ttf") format("truetype");
  }
  @font-face {
    font-family: "Bold";   /*Can be any text*/
    src: local("gilroy-Bold"),
      url("./Fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Medium";   /*Can be any text*/
    src: local("gilroy-Medium"),
      url("./Fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  }
  *{
      font-family: "Regular",sans-serif;
  }